<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 th:text="${#strings.capitalizeWords(subtitle)}"></h2>

    <!-- TODO #3 - Use the same list display from search.html -->
    <div th:if="${jobs} and ${jobs.size()}">

        <table>
            <tr th:each="job, idx : ${jobs}" th:class="${idx.odd} ? 'odd'">
            <tr th:each ="i : ${job}">
                <th th:text="${i.key}"></th>
                <td th:text="${i.value}"></td>
            </tr>
            </tr>
        </table>

    </div>

</div>

</body>
</html>